
<div *ngIf="annataViticola">
    <h2><span>Annata Viticola</span> {{annataViticola.id}}</h2>
    <hr>
    <npvr-alert-error></npvr-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Anno</span></dt>
        <dd>
            <span>{{annataViticola.anno}}</span>
        </dd>
        <dt><span>Descrizione</span></dt>
        <dd>
            <span>{{annataViticola.descrizione}}</span>
        </dd>
        <dt><span>Data Inizio</span></dt>
        <dd>
            <span>{{annataViticola.dataInizio | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Data Fine</span></dt>
        <dd>
            <span>{{annataViticola.dataFine | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'annata-viticola/'+ annataViticola.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
