<div>
    <h2>
        <span>Statoes</span>
        <button class="btn btn-primary float-right jh-create-entity create-stato" [routerLink]="['/', { outlets: { popup: ['stato-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Stato
            </span>
        </button>
    </h2>
    <npvr-alert></npvr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="statoes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Definizione</span></th>
            <th><span>Descrizione</span></th>
            <th><span>Acronimo</span></th>
            <th><span>Codice</span></th>
            <th><span>Valido Al</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stato of statoes ;trackBy: trackId">
                <td><a [routerLink]="['../stato', stato.id ]">{{stato.id}}</a></td>
                <td>{{stato.definizione}}</td>
                <td>{{stato.descrizione}}</td>
                <td>{{stato.acronimo}}</td>
                <td>{{stato.codice}}</td>
                <td>{{stato.validoAl | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stato', stato.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stato/'+ stato.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stato/'+ stato.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
