<div>
    <h2>
        <span>Tipo Praticas</span>
        <button class="btn btn-primary float-right jh-create-entity create-tipo-pratica" [routerLink]="['/', { outlets: { popup: ['tipo-pratica-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tipo Pratica
            </span>
        </button>
    </h2>
    <npvr-alert></npvr-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipoPraticas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Descrizione</span></th>
            <th><span>Acronimo</span></th>
            <th><span>Famiglia</span></th>
            <th><span>Valido Al</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoPratica of tipoPraticas ;trackBy: trackId">
                <td><a [routerLink]="['../tipo-pratica', tipoPratica.id ]">{{tipoPratica.id}}</a></td>
                <td>{{tipoPratica.descrizione}}</td>
                <td>{{tipoPratica.acronimo}}</td>
                <td>{{tipoPratica.famiglia}}</td>
                <td>{{tipoPratica.validoAl | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tipo-pratica', tipoPratica.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipo-pratica/'+ tipoPratica.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipo-pratica/'+ tipoPratica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
